@import '~/styles/functions.scss';
@import '~/styles/variables.scss';

$page-width: 80%;

.repository {
	height: 10000px;

	.header {
		background-color: $light-white-color;
		border-bottom: border();
		height: 120px;

		.headerContainer {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			width: $page-width;
			margin: 0 auto;

			.topLine {
				display: flex;
				justify-content: space-between;

				.badges {
					.badge:not(:last-of-type) {
						margin-right: 12px;
					}
				}
			}

			.bottomLine {
				min-height: 30px;

				.tab:not(:last-child) {
					margin-right: 10px;
				}
			}
		}

	}

	.homepage {
		background-color: $white-color;

		.homepageContainer {
			width: $page-width;
			margin: 20px auto 0 auto;

			.description {
				.tags {
					margin-top: 12px;

					&:not(:last-child) {
						margin-right: 10px;
					}
				}
			}

			.repositoryStatus {
				display: flex;
				align-items: center;

				.branches {
					margin-right: 15px;
				}
			}

			.directory {
				.item {
					&:not(:last-child) {
						border-bottom: border($alpha: 0.1);
					}
				}
			}

			.studiesContainer {
				margin: 0 auto;
				width: 60%;
			}

			.readableContainer {
				margin-top: 120px;
				text-align: center;
			}

			.sectionMargin {
				margin-top: 70px;
			}

			.grid {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
				grid-gap: 70px 0;
			}

			.studies {
				display: inline-flex;
				align-items: flex-start;
				flex-direction: column;

				.delimiter {
					margin: 10px 21px;
					height: 45px;
					border-left: border($color: $black-color, $alpha: 1);
				}
			}

			.contact {
				display: flex;
				flex-direction: column;

				.button {
					width: fit-content;
					align-self: flex-end;
				}
			}
		}
	}
}
