@import '~/styles/functions.scss';
@import '~/styles/variables.scss';

.readMore {
	display: inline-flex;
	align-items: center;
	border: border($color: $green-color, $alpha: 1);
	border-radius: 50px;
	padding: 4px 7px 4px 13px;
	cursor: pointer;
	transition: 0.3s;

	&:hover {
		background-color: $green-color;
		color: $white-color;
	}
	.content {
		text-transform: uppercase;
	}
}
