.readableBlock {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	.title {
		margin-top: 15px;
	}

	.period {
		margin-top: 8px;
	}

	.readMore {
		margin-top: 25px;
	}

	img {
		width: 100px;
		height: 100px;
	}
}
