@import '~/styles/variables.scss';
@import '~/styles/functions.scss';

.container {
	display: inline-flex;
	align-items: center;
	border-radius: $border-radius;
	overflow: hidden;

	.content {
		padding: 4px 10px;
	}

	.label {
		display: flex;
		align-items: center;
		background: $grey-gradient;
		border-right: border();

		i {
			margin-right: 5px;
		}
	}

	.value {
		background-color: $white-color;
	}
}
