@import '~/styles/variables.scss';
@import '~/styles/functions.scss';

.container {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	color: $grey-color;

	.content {
		color: $blue-color;
	}

	* {
		padding: 0 5px;
	}
}
