// font
$font-family: 			Arial;

$font-size-s: 			12px;
$font-size-m: 			14px;
$font-size-l: 			16px;
$font-size-xl: 			18px;
$font-size-xxl: 		20px;

$font-weight-medium:	400;
$font-weight-bold:		600;

// colors
$black-color: 			#24292E;

$orange-color: 			#E36209;

$dark-grey-color: 		#544E4E;
$grey-color: 			#6A737D;
$light-grey-color: 		#E1E4E8;

$white-color: 			#FFFFFF;
$light-white-color: 	#FAFBFC;

$green-color: 			#28A745;
$blue-color: 			#0366D6;

// gradients
$grey-gradient: 		linear-gradient(180deg, #F0F3F6 0%, #E6EBF1 100%);
$green-gradient: 		linear-gradient(180deg, #34D058 0%, #28A745 100%);

// border
$border-color: 			#1B1F23;
$border-radius: 		4px;
