@import '~/styles/mixins.scss';

.RepositorySection {
	text-align: center;

	.items {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex: 1 1 0px;
		justify-content: space-evenly;
		transition: 1s all;
		overflow-y: hidden;
	}
}

