@import '~/styles/variables.scss';

.hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.input {
	font-family: inherit;
	min-height: 200px;
	padding: 10px;
	background: $light-white-color;
	border: 1px solid rgba($border-color, 0.2);

	&:focus {
		border: 1px solid rgba($blue-color, 0.5);
		background: $white-color;
		outline: none;
	}

	&:placeholder {
		color: $grey-color;
	}
}

